#table-access-user{
    overflow-y: scroll;
    height: 200px;
    max-height: 200px;
    text-align: left;
    padding: 5px;    
}

.card_access_user{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    background-color: lightgrey;
    padding: 2px;
}

.card_access_user p {
    padding: 2px;
}

#contents{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
#user-info-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    padding: 2px;
}

#card-user{
    grid-template-columns: auto;
    text-align: center;
    grid-template-rows: auto auto auto;
    /*background-color: whitesmoke;*/
    /*border: 1px solid #e3e3e3;*/
}

#col-img{
    display: grid;                    
    grid-template-rows:max-content auto;
    padding: 10px;
}

#container_index {    
    display: contents;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    gap: 20px;    
}

#no-users-img{
    width: 80%;
    vertical-align: middle;
    border: 0;
}

.pie_info1{
    display: grid;
}

div#piechart{
    width: 100%;
    position: relative;
}

#plugintitle{
    color: yellow;
}

.nav-evasion {
    display: grid;    
    grid-template-columns: repeat(4,25%);
    width: 100%;
    height: auto;
}

.nav-evasion img{
    width: 100%;
    margin: auto;
}

#nav-icon{
    /*opacity:$opt;*/ 
    padding: 10px;         
    text-align: center; 
    border-radius: 10px;
}

.group-subtitle #good-group{
    color: #00e800;
}

.group-subtitle #fair-group{
    color: #ffeb3b;
}

.group-subtitle #poor-group{
    color: #c80000;
}

.group-subtitle #null-group{
    color: #808080;
}

div #grid-user-info div .user-info-title {
    background-color: gainsboro;
}      

#grid-user-info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 2px;       
    background-color: whitesmoke;                                
    margin-bottom: 5px;
}
.view-title{
    text-align: center;
    background-color: lightgray;
    border-radius: 8px;
}

   .horizontal-bar-chart{    
    display: grid;     
    grid-template-rows: max-content auto auto;
}

.chart-title{
    text-align: center; 
    margin: auto; 
    width: 80%; 
    height: fit-content;    
    border-radius: 10px 10px 0 0;
}

.chart-conteudo{
    overflow-y: scroll;
    max-height: 400px;
    display: grid;
    width: 80%;
    margin: auto;   
    grid-template-columns: 1fr 4fr;
}

.chart-index{   
    
}    

.bars{  
    display: grid;       
    margin: auto; 
    width: 100%;     
    grid-column-gap: 5px;
}

.chart-content{
    text-align: center;
    height: 30px;   
    grid-column-start: 0;    
    border-radius: 0 4px 4px 0;    
    margin: 2px;
}

.chart-footer{
    display: grid; 
    width: 100%; 
    margin: auto;   
    grid-template-columns: 1fr 4fr;
    border-radius: 0 0 10px 10px;
}

.chart-range{
    display: grid;
    width: 100%;
    margin: auto;   
    grid-template-columns: repeat(10, 1fr);
    border-radius: 0 0 10px 0;
}

.chart-range p{
    border-right: solid 1px;
    text-align: right;
    padding-right: 3px;
}

/* aplica somente a partir de 480px em landscape */
@media screen and (min-width: 480px) {
    .nav-evasion {
        display: grid;    
        grid-template-columns: repeat(4,25%);    
    }

    .nav-evasion img{
        width: auto;
        margin: auto;
    }

    div#piechart{
        width: 70%;  
        margin: auto;
    }

    .group-subtitle{
        background-color: #f5f5f5;
        border: solid 1px #9E9E9E;
        border-radius: 11px;
        margin: 10px;
        padding: 2%;
        text-align: center;
    }    

    .group-subtitle #good-group{
        color: #00e800;
    }

    .group-subtitle #fair-group{
        color: #ffeb3b;
    }

    .group-subtitle #poor-group{
        color: #c80000;
    }

    .group-subtitle #null-group{
        color: #808080;
    }

    #container_index {    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        gap: 20px;    
    }
    
    #container_access {    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        gap: 20px;    
    }

    #no-users-img{
        width: auto;
        vertical-align: middle;
        border: 0;
    }        

    #card-user{
        display: grid; grid-template-columns: 1fr;
        grid-template-rows: auto auto;   
        /*background-color: whitesmoke;*/
        /*border: 1px solid #e3e3e3;*/
    }

    #card-user img{
        padding: 10px;        
    }

    #col-img{
        display: grid;                    
        grid-template-columns:max-content auto auto;
    }        

    .card_access_user{
        display: grid;
        grid-template-rows: 1fr;        
        grid-template-columns: auto auto;
        padding: 2px;
        margin-bottom: 5px;
        text-align: left;        
    }
    
    .card_access_user p{
        padding: 2px;
    }

    #table-user{
        overflow-y: scroll;
        height: fit-content;
        max-height: 200px;
    }        

    #table-access-user{
        overflow-y: scroll;
        height: 200px;
        max-height: 200px;
        text-align: left;
        padding: 5px;        
    }
    
    .horizontal-bar-chart{    
    display: grid; 
    grid-template-rows: max-content auto auto;
}

.chart-title{
    text-align: center; 
    margin: auto;     
    height: fit-content;    
    border-radius: 10px 10px 0 0;
}

.chart-conteudo{
    overflow-y: scroll;
    max-height: 400px;
    width: 100%;
    display: grid;    
    margin: auto;   
    grid-template-columns: 1fr 4fr;
}

.chart-index{   
    
}    

.bars{  
    display: grid;       
    margin: auto; 
    width: 100%;     
    grid-column-gap: 5px;
}

.chart-content{
    text-align: center;
    height: 30px;   
    grid-column-start: 0;    
    border-radius: 0 4px 4px 0;    
    margin: 2px;
}

.chart-footer{
    display: grid;     
    margin: auto;   
    width: 100%;
    grid-template-columns: 1fr 4fr;
    border-radius: 0 0 10px 10px;
}

.chart-range{
    display: grid;
    width: 100%;
    margin: auto;   
    grid-template-columns: repeat(10, 1fr);
    border-radius: 0 0 10px 0;
}

.chart-range p{
    border-right: solid 1px;
}

}

