#table-access-user{
    overflow-y: scroll;
    height: 200px;
    max-height: 200px;
    text-align: left;
    padding: 5px;
    border: solid 1px darkgray;
}

.card_access_user{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    background-color: lightgrey;
}

#contents{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
#user-info-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
}

#card-user{
    grid-template-columns: auto;
    text-align: center;
    grid-template-rows: auto auto auto;
    /*background-color: whitesmoke;*/
    /*border: 1px solid #e3e3e3;*/
}

#col-img{
    display: grid;                    
    grid-template-rows:max-content auto;
    padding: 10px;
}

#container_index {    
    display: contents;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    gap: 20px;    
}

#no-users-img{
    width: 80%;
    vertical-align: middle;
    border: 0;
}

.pie_info1{
    display: grid;
}

div#piechart{
    width: 100%;
    position: relative;
}

#plugintitle{
    color: yellow;
}

.nav-evasion {
    display: grid;    
    grid-template-columns: repeat(4,25%);
    width: 100%;
    height: auto;
}

.nav-evasion img{
    width: 100%;
    margin: auto;
}

#nav-icon{
    /*opacity:$opt;*/ 
    padding: 10px;         
    text-align: center; 
    border-radius: 10px;
}

.group-subtitle #good-group{
    color: #00e800;
}

.group-subtitle #fair-group{
    color: #ffeb3b;
}

.group-subtitle #poor-group{
    color: #c80000;
}

.group-subtitle #null-group{
    color: #808080;
}

div #grid-user-info div .user-info-title {
    background-color: gainsboro;
}      

#grid-user-info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    border: solid 1px #9E9E9E;
    background-color: whitesmoke;                                
    margin: 2px;                        
}
.view-title{
    text-align: center;
    background-color: lightgray;
    border-radius: 8px;
}
/* aplica somente a partir de 480px em landscape */
@media screen and (min-width: 480px) {
    .nav-evasion {
        display: grid;    
        grid-template-columns: repeat(4,25%);    
    }

    .nav-evasion img{
        width: auto;
        margin: auto;
    }

    div#piechart{
        width: 70%;  
        margin: auto;
    }

    .group-subtitle{
        background-color: #f5f5f5;
        border: solid 1px #9E9E9E;
        border-radius: 11px;
        margin: 10px;
        padding: 2%;
        text-align: center;
    }    

    .group-subtitle #good-group{
        color: #00e800;
    }

    .group-subtitle #fair-group{
        color: #ffeb3b;
    }

    .group-subtitle #poor-group{
        color: #c80000;
    }

    .group-subtitle #null-group{
        color: #808080;
    }

    #container_index {    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        gap: 20px;    
    }

    #no-users-img{
        width: auto;
        vertical-align: middle;
        border: 0;
    }        

    #card-user{
        display: grid; grid-template-columns: 1fr;
        grid-template-rows: auto auto;   
        /*background-color: whitesmoke;*/
        /*border: 1px solid #e3e3e3;*/
    }

    #card-user img{
        padding: 10px;        
    }

    #col-img{
        display: grid;                    
        grid-template-columns:max-content auto auto;
    }        

    .card_access_user{
        display: grid;
        grid-template-rows: 1fr;
        background-color: lightgrey;
        grid-template-columns: auto auto;
        padding: 5px;
    }

    #table-user{
        overflow-y: scroll;
        height: fit-content;
        max-height: 200px;
    }        

    #table-access-user{
        overflow-y: scroll;
        height: 200px;
        max-height: 200px;
        text-align: left;
        padding: 5px;
        border: solid 1px darkgray;
    }
}

